@{
    Identity Identity = new Identity();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/DefaultStyles")
    @RenderSection("Styles", required: false)

</head>
<body>
    <header class="header">
        <a class="Logo" href="/Home/Index"></a>
        <a class="Title" href="/Home/Index">EasyMap</a>
        @{
            if (Identity.isAuthentication)
            {
                <div class="User" onclick="showuser();" style="background-image: url(/Resources/images/icon/entry.svg)">
                    <div class="user">
                        <div class="user_block">
                            <div class="name">@Identity.user.Login</div>
                        </div>
                        <div class="menu">
                            <a class="map" href="/Update/Place">Добавить место</a>
                            <a class="exit" href="/Account/Exit">Выход</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <a class="User" style="background-image: url(/Resources/images/icon/login.svg)" href="/Account/Account"></a>
            }
        }
    </header>
    <section>
        @RenderSection("Body", required: true)
    </section>
    <footer class="footer"></footer>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    @Scripts.Render("~/DefaultScrits")
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>